################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsoleApp/.vs/TestDomeSolutions/FileContentIndex
/TestConsoleApp/TestConsoleApp/obj
/.vs
/TestConsoleApp/.vs/TestDomeSolutions/v17/.suo
/TestConsoleApp/TestConsoleApp/bin/Debug/net6.0
/TestConsoleApp/.vs
